##### [멀티인덱스]
- 2개 이상의 행과 열로 구성된 인덱스

In [2]:
# [1] 모듈로딩
import pandas as pd

In [3]:
# [2] Data 준비
file1 = "test_data.csv"
file2 = "test_data2.csv"

In [4]:
# [3] csv => DataFrame으로 저장
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [5]:
# [4] Data 확인 => 기본정보 
df1.info()
print(f"[index] : {df1.index}")
print(f"[Columns] : {df1.columns}")

df2.info()
print(f"[index] : {df2.index}")
print(f"[Columns] : {df2.columns}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[index] : RangeIndex(start=0, stop=10, step=1)
[Columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes
[index] : RangeIndex(start=0, stop=5, step=1)
[Columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')

In [6]:
# [4] 우리가 만든 함수를 로딩하여 정보 출력  ==> 정보출력
import df_util as utill

In [7]:
utill.checkDataFrame(df1, "df1")
utill.checkDataFrame(df2, "df2")
df1

[df1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[index] : RangeIndex(start=0, stop=10, step=1)
[Columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[NDim] : 2

[df2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes
[index] : RangeIndex(start=0, stop=5, step=1)
[Columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')
[NDim] : 2

  index  col1  col2  col3
0     A     8     6     5
1     C     8     4     3
2     C     8     2     0
3     A     1     8     7
4     B     2     0     7
5     B     4     2     4
6     C     8     8     6
7     C     5     5     6
8     B     3     3     6
9     A     3     1     4

In [8]:
# [5] 행 인덱스 설정
# [5-1] df1 첫번째 컬럼을 행 인덱스로 설정 ==> set_index([칼럼 1]) or set_index(칼럼 1)
df11 = df1.set_index(["index"]) # 멀티인덱스
df11.index.name=None
df11.index
print(df11)
# "A" 행 데이터 추출
df11.loc["A"]

   col1  col2  col3
A     8     6     5
C     8     4     3
C     8     2     0
A     1     8     7
B     2     0     7
B     4     2     4
C     8     8     6
C     5     5     6
B     3     3     6
A     3     1     4

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [9]:
# "A", "C" 추출
df11.loc[["A", "C"]]

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [20]:
# [5-1] df1 첫번째, 두번째 컬럼을 행 인덱스로 설정 ==> set_index([칼럼 1, 칼럼 2])
df12 = df1.set_index(["index", "col1"]) # 멀티인덱스
df12.index.name=None
df12.index
print(df12)

# ('A', 8) 행 추출
df12.loc[('A', 8)]

            col2  col3
index col1
A     8        6     5
C     8        4     3
      8        2     0
A     1        8     7
B     2        0     7
      4        2     4
C     8        8     6
      5        5     6
B     3        3     6
A     3        1     4

C:\Users\hwans\AppData\Local\Temp\ipykernel_27132\1428821522.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('A', 8)]

            col2  col3
index col1
A     8        6     5

In [11]:
# ('A', 8), ("A", 1) 행 추출
df12.loc[[('A', 8), ("A", 1)]]

            col2  col3
index col1
A     8        6     5
      1        8     7

In [12]:
# label : 멀티인덱스에서 인덱스끼리 구분하기 
# 멀티인덱스 속성들 확인
mIdx = df12.index
print(f'nlevels : {mIdx.nlevels}')  # 멀티 인덱스의 수 
print(f'levels : {mIdx.levels}') # level 0 = ['A', 'B', 'C'], level1 = [1, 2, 3, 4, 5, 8] 
print(f'names : {mIdx.names}')

# 멀티인덱스에서 하나의 level의 이름 변경
mIdx.set_names("a", level = 0)

nlevels : 2
levels : [['A', 'B', 'C'], [1, 2, 3, 4, 5, 8]]
names : ['index', 'col1']

MultiIndex([('A', 8),
            ('C', 8),
            ('C', 8),
            ('A', 1),
            ('B', 2),
            ('B', 4),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 3)],
           names=['a', 'col1'])

In [13]:
# 멀티인덱스에서 level = 0이 동일한 행 추출
# "A"
df12.loc["A"] # level = 0이 A인 것들

      col2  col3
col1
8        6     5
1        8     7
3        1     4

In [14]:
# 멀티인덱스에서 level1이 동일한 행 추출
# "8"
# df12.loc[level=1, 8]  ==> ERROR 
df12.xs(8, level = 1)

# xs 메서드: 하위 레벨에 있는 데이터 추출 인덱스
# 변수명.xs(찾을 데이터, 레벨의 위치)

       col2  col3
index
A         6     5
C         4     3
C         2     0
C         8     6

In [15]:
# 멀티인덱스에서 행 추가
# - 인덱스의 행추가 => 변수명.loc[새로운 행 인덱스] = 값
df12.loc[("D", 9), :] = [7, 5] # 새로운 행과 값이 추가됨

C:\Users\hwans\AppData\Local\Temp\ipykernel_27132\4012160332.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[("D", 9), :] = [7, 5] # 새로운 행과 값이 추가됨
C:\Users\hwans\AppData\Local\Temp\ipykernel_27132\4012160332.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[("D", 9), :] = [7, 5] # 새로운 행과 값이 추가됨

In [16]:
df12

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     9      7.0   5.0

In [17]:
# df12.loc[("D", 9), :] =pd.Series({"co12":10, "col3":10}, index = ["D", 10])

sr1 = pd.Series({"co12":10, "col3":10})
sr1

co12    10
col3    10
dtype: int64

In [18]:
df12.loc[("D", 10), :] = [sr1] # 시리즈를 df로 넣을 땐 시리즈를 리스트로 변경해서 넣어야 함

C:\Users\hwans\AppData\Local\Temp\ipykernel_27132\1860230302.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[("D", 10), :] = [sr1] # 시리즈를 df로 넣을 땐 시리즈를 리스트로 변경해서 넣어야 함
C:\Users\hwans\AppData\Local\Temp\ipykernel_27132\1860230302.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[("D", 10), :] = [sr1] # 시리즈를 df로 넣을 땐 시리즈를 리스트로 변경해서 넣어야 함

In [19]:
df12

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     9      7.0   5.0
      10    10.0  10.0